* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    color: #333;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
  }

  #button-group {
    border: 2px solid #3498db;
    margin: 5px;
    padding: 10px;
    border-color: #efd1ce;
  }

  #card-group {
    display: flex;
    justify-content: space-between;
    border: 2px solid #3498db;
    margin: 5px;
    padding: 10px;
    border-color: #efd1ce;
  }